* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgb(109, 4, 58);
}
div h2 {
  position: absolute;
  top: 26%;
  left: 35%;
  font-size: 50px;
  text-align: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;

  gap: 20px;
  position: absolute;
  top: 40%;
  left: 35%;
}
.p1 {
  height: 50px;
  width: 400px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: rgb(125, 20, 20);
  padding-left: 25px;
}
.p2 {
  height: 50px;
  width: 400px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: rgb(125, 20, 20);
  padding-left: 25px;
}
.p3 {
  height: 140px;
  width: 600px;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  color: rgb(125, 20, 20);
  padding-left: 25px;
}
.p4 {
  border: none;
  border-radius: 5px;
  color: rgb(125, 20, 20);
  font-size: 20px;
  width: 10%;
}
